@import url('https://fonts.googleapis.com/css2?family=Festive&family=Germania+One&display=swap');

body {
  background-color: beige;
  max-Width: 700px;
  Margin: Auto;
  Color: #FAB36B;
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}

H1,H3{
  Text-align: center;
  Background-color: #FF4366;
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}

a{
  Color: #FAB36B;
}

a:hover {
  color: beige;
  background-color: #FF4366;
}

Nav li {
  List-style-type: none;
  Display: inline-block;
  Background-color: #FA898A;
  Padding: 10px;
  Margin: 7px;
}

nav a {
margin-left: 10%;
}


H1{
  Margin-top: 50px;
}
 H2{
  Text-align: center;
}
Nav {
  Margin: auto, ;
  Text-align: center;
  Background-color: #FF4366;
}

p{
  Text-align: center;
}

img {
   Text-align: center;
   border: 5px solid #FF4366;
}
iframe{
   Text-align: center;
   border: 5px solid #FF4366;
}
